/*----------------------------*\
  1. MAIN SETUP
\*----------------------------*/

$wesbos: #193549;
$instagram: #517fa4;
$accent-color: #edc018;
$text-color: #f7f7f7;
$card-background: #f7f7f7;
$secondary-text: #212121;
$tertiary-text: #757575;
$button-hover: #ececec;

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400|Roboto:200,300,400');

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background: $wesbos; 
  background: -webkit-linear-gradient(to right, $wesbos, $instagram);
          background: -webkit-linear-gradient(left, $wesbos, $instagram);
          background: linear-gradient(to right, $wesbos, $instagram);
	font-family: 'Roboto';
	padding: 0;
}

h1 {
	font-family: 'Raleway';
	letter-spacing: 0.3em;
	margin: 0;
}

h2 {
	/* border-bottom: 3px solid $accent-color;*/
	color: $wesbos;
	font-family: 'Roboto';
	font-weight: 400;
	letter-spacing: 0.1em;
	margin: 0;
}

h3 {
	border-bottom: 3px solid $accent-color;
	display: inline-block;
	font-family: 'Roboto';
	font-weight: 200;
	letter-spacing: 0.1em;
}


/*----------------------------*\
	2. NAVBAR
\*----------------------------*/

.box-shadow {
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);	
}

nav {
	height: 50px;
	position: relative;
	top: 0;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 100%;
	z-index: 1;
}

body.fix nav {
	position: fixed;
}

nav ul {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 20px;
	height: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0;
	padding: 0 10px;
}

nav li {
	font-family: 'Raleway';
	list-style:none;
}

nav a {
	text-decoration: none;
	color: $text-color;
}

nav .fa {
	color: $accent-color;
	margin: 0 auto 0 0;
}

.link {
	color: $text-color;
	cursor: pointer;
	height: 100%;
	line-height: 50px;
	margin: 0 5px;
	padding: 0 2.5px;
	-webkit-transition: 0.25s ease;
	transition: 0.25s ease;
}

.link:after {
	content: '';
	display: block;
	height: 3px;
	margin: auto;
	position: relative;
	top: -3px;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
	width: 0;
}

.link:hover:after {
	width: 100%;
	background-color: $accent-color;
}

a:hover {color: $accent-color;}

.ion-navicon {
	color: $text-color;
	cursor: pointer;
	display: none;
	font-size: 1.5em;
	z-index: 2;
}

.ion-navicon:active {
	color: $accent-color;
}

.mobile-nav {
	background: $wesbos;
	-webkit-box-shadow: -3px 0px 5px -2px rgba(0,0,0,0.5);
		 -moz-box-shadow: -3px 0px 5px -2px rgba(0,0,0,0.5);
					box-shadow: -3px 0px 5px -2px rgba(0,0,0,0.5);
	height: 100vh;
	width: 25vh;
	/* padding-top: 50px;*/
	position: fixed;
	top: 0;
	right: 0;
	-webkit-transform: translateX(100%);
	        transform: translateX(100%);
	-webkit-transition: -webkit-transform 0.6s ease;
	transition: -webkit-transform 0.6s ease;
	transition: transform 0.6s ease;
	transition: transform 0.6s ease, -webkit-transform 0.6s ease;
	z-index: 1;
}

.mobile-nav .ion-ios-close-outline {
	color: $text-color;
	cursor: pointer;
	font-size: 2em;
	left: 20%;
	position: relative;
	top: 0;
	z-index: 1;
}

.mobile-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
		-webkit-box-pack: start;	
		-ms-flex-pack: start;	
	justify-content: flex-start;
	height: 50vh;
	padding-left: 0;
}

.mobile-nav li {
	list-style: none;
}

.mobile-nav a {
	color: $text-color;
	text-decoration: none;
}

.mobile-link {
	@extend .link;
	color: $text-color;
	height: 30px;
	line-height: 30px;
	// display: inline-block;
}

.open {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}

/*----------------------------*\
	3. LANDING PAGE
\*----------------------------*/

.landing {
	color: $text-color;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100vh;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
}

.landing h2 {
	color: $text-color;
	font-weight: 200;
}

.fa-code {
	color: $accent-color;
}






/*----------------------------*\
	4. PROJECTS
\*----------------------------*/

.projects {
  background: $text-color;
  color: $wesbos;
  min-height: 100vh;
  padding: 20px 10%;
}

.projects > h2 {
	text-align: center;
	margin: 1% 0 3% 0;
}

.projects h3 {
	border: none;
}

.project-container {
	padding: 3%;
	margin: 0 auto;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.wide-card {
  background: $card-background;
  border-radius: 2px;
  box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.5);
	display: inline-block;
	margin: 2% 1%;
  width: 300px;
  min-height: 300px;
}

.card-splash {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 200px;
  padding: 0 5px;
}

.card-splash h3 {
	color: $text-color;
}

.card-description {
  background: $card-background;
  border-bottom: 1.5px solid rgba(0,0,0, 0.1);
  color: $tertiary-text;
  min-height: 60px;
  padding: 10px;
  text-align: left;
}

.card-link {
  background: $card-background;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 50px;
  padding: 10px;
}

.card-link > a {
	background: $card-background;
	border-radius: 2px;
	color: $wesbos;
	margin: 0;
	padding: 7px 10px;
	text-align: left;
}

.card-link > a:hover {
	background: rgba(237, 192, 24, 0.7);
}

.bobby {
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),url('../assets/pawn-bobby.jpg');
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),url('../assets/pawn-bobby.jpg');
	background-position: center;
	background-size: cover;
}

.quote {
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../assets/random.png');
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../assets/random.png');
	background-position: center;
	background-size: cover;
}

.wiki {
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../assets/wiki.png');
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../assets/wiki.png');
	background-size: cover;	
}

.calc {
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../assets/calc.png');
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../assets/calc.png');
	background-position: center;
	background-size: cover;	
}

.pomo {
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../assets/pomo.png');
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../assets/pomo.png');
	background-position: center;
	background-size: cover;	
}

.tictac {
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../assets/tictac.png');
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../assets/tictac.png');
	background-size: cover;	
}

.simon {
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../assets/simon.png');
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../assets/simon.png');
	background-position: center;
	background-size: cover;	
}





/*----------------------------*\
	4. ABOUT
\*----------------------------*/

.about {
	background: $wesbos;
	color: $text-color;
	min-height: 100vh;
  padding: 20px 10%;
}

.about > h2 {
	text-align: center;
	color: $text-color;
}

.about h3 {
	border-bottom: 3px solid $accent-color;
}

.about-container {padding: 3%;}

.about-container > .row {
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.bio {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: $text-color;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	width: 50%;
}

.bio a {
	text-decoration: none;
	color: $accent-color;
	border-bottom: 3px solid $accent-color;
}

.photo {
	background: url('../assets/portrait.jpeg');
	background-size: cover;
	border-radius: 50%;
	height: 150px;
	width:  150px;
	margin-bottom: 10%;
}

.skills {
	@extend .bio;
}

.col {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding: 10%;
	width: 100%;
	min-height: 100%;
}

.col > i {
	font-size: 4em;
	color: $accent-color;
}


/*----------------------------*\
	5. CONTACT
\*----------------------------*/

.contact {
	background: $text-color;
	color: $wesbos;
	min-height: 90vh;
	padding: 20px 5% 0 5%;
	text-align: center;
	width: 100%;
}

.contact > h2 {
	color: $wesbos;
	font-weight: 400;
}

.contact-container {
	width: 100%;
}

.social {
	width: 50%;
}

.col > a {
	color: $wesbos;
	font-size: 4em;
}

.col > a:hover {
	color: $accent-color;
}

.email {
	width: 50%;
}

.email h3 {
	margin-bottom: 0;
}

form {
	padding: 20%;
	text-align: left;
}

input {
	background: none;
	border: none;
	border-bottom: 3px solid $tertiary-text;
	font-size: 14px;
	margin-bottom: 3%;
	outline: none;
	padding: 2%;
	width: 100%;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}

input:focus {
	border-bottom: 3px solid $accent-color;
}

textarea {
	background: none;
	border: none;
	border-bottom: 3px solid $tertiary-text;
	font-size: 14px;
	height: 205px;
	margin-top: 3%;
	outline: none;
	padding: 2%;
	-webkit-transition: 0.1s;
	transition: 0.1s;
	width: 100%;
}

textarea:focus {
	@extend input:focus;
}

button {
	background: $wesbos;
	border: none;
	border-radius: 2px;
 box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
	color: $text-color;
	cursor: pointer;
	font-size: 16px;
	height: 35px;
	margin-top: 3%;
	outline: none;
	width: 85px;
}

button:hover,
button:focus {
	color: $accent-color;
}





/*----------------------------*\
	6. FOOTER
\*----------------------------*/

.footer {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: $wesbos;
	color: $text-color;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 300;
	height: 10vh;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
}