/*portfolio.css*/
/*
blue: #7CCBF2
blu2: #547686
gray: #525453
white: #FFF
black: #000;



Headings: Josefin Sans
Body: Playfair Display
*/

h1, h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  /*background-attachment: scroll;*/
  background-image: url("../assets/logo3.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.nav {
  font-family: "Playfair Display", sans-serif;
}

.main {
  height: 100%;
}

.projects {
  background: #F8F8F8;
  margin-top: 0;
  padding-top: 0;
}


hr.style18 {
  height: 30px;
  background: #F8F8F8;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  margin-bottom: auto;
}
hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
