@media only screen and (min-width: 1024px) {
    header {
      background-attachment: fixed;
    }

    footer {
      background-attachment: fixed;
    }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1024px) {
  .row {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5%;
  }

  .container {
    width: 40%;
  }

  .section: {
    padding: 0;
  }
}

.container:nth-child(3) {
  width: 100%;
}

/* Small phones to small tablets from 481px to 767px*/
@media only screen and (max-width: 863px) {
  .container {
    width: 100%;
  }

  .about,
  .matches {
    padding: 8%;
  }

  .image {
    height: 250px;
    width: 250px;
  }

  .bullet {
    margin: 4%;
  }
}

/*Small Phones: from 0 to 480px*/
@media only screen and (max-width: 480px) {

}
