//$body-color: #3C8756;
//$border-color: #A4FFC4;
//$container-color: #73D495;
//$text: #87322E;

$body-color: #4C4E50;
$border-color: #4C4E50;
$container-color: #62E886;
$shadow-color: #62E886;
$text: #4C4E50;

body {
  background: $body-color;

  .container{
    background: $container-color;
    border-radius: 15px;
    box-shadow: 1px 1px 1px;
    margin: 8% auto;
    max-width: 720px;
    h1 {
      color: $text;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
      text-align: center;
    }
    .thumbnail {
      border: 2px solid $border-color;
      border-radius: 500px;
      -webkit-border-radius: 500px;
      -moz-border-radius: 500px;
      margin: 4% auto;
      max-height: 200px;
      padding: 0;
    }

    .output {
      height: 120px;
      margin: 0 auto;
      div {
        margin: 5% auto;
        text-align: center;
        font-size: 40px;
        color: $text;
      }
    }
    .input {
      margin: 10px auto 20px auto;
      max-width: 38%;
      padding: none;
      .container-fluid {
        maring: 0 auto;
      }
      input {
        background: $body-color;
        border: none;
        color: $container-color;
        outline: none;
        padding: 2.85% 2%;
      }
      button {
        background: $container-color;
        border: 2px solid $border-color;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: $text;
        margin: 2px auto;
        width: 76%;
      }
      button:hover {
        background: $body-color;
        color: $container-color;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
    }
  }
}




