* {
  margin: 0;
}

html, body {
  height: 100%;
}

body, {
  font-family: 'Arimo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  font-family: 'Pacifico', cursive;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

nav {
  color: #EFEFEF;
  background-color: #242424;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 99;
  font-family: 'Arimo', sans-serif;
}

.nav-link, .navbar-brand {
  color: #EFEFEF;
}


.sect {
  height: 100%;
  background-size: cover;
  background-repeat; no-repeat;
  background-attachment: fixed;
}

.subSection {
  height: 50%;
  background-color: #9C9C9C;
}

img {
  padding-left: 20%;
  height: 60%;
}

.sectOne {
  /*background-image: url("https://farm2.staticflickr.com/1594/25673435421_13a54e7c41_c.jpg");*/
  /*background-image: url("https://farm2.staticflickr.com/1546/25798802446_684f062775_c.jpg");*/
  background-image: url("https://farm2.staticflickr.com/1575/25703967562_6a94223de1_z.jpg");
}

.sectOne h1 {
  font-family: 'Pacifico'; cursive;
  font-size: 75px;
  padding-top: 10%;
  padding-left: 2%;
  color: #242424;

}

.sectTwo {
  background-image: url("https://farm2.staticflickr.com/1682/25243709273_9155c00dae_b.jpg");
}

.sectTwo h1 {
  font-family: 'Pacifico', cursive;
  font-size: 75px;
  padding-top: 15%;
  color: #242424;
}

.sectThree {
  background-image: url("https://farm2.staticflickr.com/1685/25751659742_03f0d3601a_b.jpg");
}

.sectThree h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  padding-top: 25%;
  color: #242424;
}
