/*
.dark-primary-color    { background: #616161; }
.default-primary-color { background: #9E9E9E; }
.light-primary-color   { background: #F5F5F5; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
*/


/*// BACKGROUND COLORS
$dark-primary-color: #616161;
$default-primary-color: #9E9E9E;
$light-primary-color: #EDEDED;
$accent-color: #607D8B;

// TEXT COLORS
$primary-text-color: #212121;
$secondary-text-color: #757575;

// BORDER COLOR
$divider-color: #BDBDBD;

// MAIN SETUP*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #9E9E9E;
  color: #212121;
  font-family: "Pacifico", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.my-hr {
  background-image: linear-gradient(to right, rgba(96, 125, 139, 0), rgba(96, 125, 139, 0.75), rgba(96, 125, 139, 0));
  border: 0;
  height: 1px;
  margin: 0 25%;
}

h1 {
  color: #757575;
  font-size: 350%;
  font-weight: lighter;
  margin: 5px;
}

h2 {
  font-size: 250%;
  font-weight: lighter;
  margin: 5px;
  text-align: center;
}

h3 {
  font-family: "Arimo", sans-serif;
  font-size: 85%;
  text-align: center;
  width: 100%;
}

p {
  color: #757575;
  font-family: "Arimo", sans-serif;
  line-height: 150%;
  margin: 2% 1%;
  text-align: left;
}

a {
  text-decoration: none;
  float: right;
  font-family: "Arimo", sans-serif;
  color: #607D8B;
  margin-right: 25px;
}

img {
  /*border: solid 2px #757575;
   border-radius: 5px;*/
  margin: 50px auto 25px auto;
  max-width: 350px;
}

/* REUSABLE COMPONENTS*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {padding: 80px 0;}

.box {padding: 1%;}


  /* HEADER/LANDING PAGE & MOBILE NAV*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(../assets/pawn-bobby.jpg);
  background-position: top;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

header::before{content: "";display: block;position: fixed;z-index: -1;height: 100%;width: 100%}

.text-box {
  position: absolute;
  top: 50%;
  left: 5%;
}

.about {background: #9E9E9E;}

.about-box {
  display: inline-block;
  margin: 25px auto;
  padding: 0 25px;
}

.bullet-box {
  text-align: left;
  margin: 0 auto;
}

.bullet {
  color: #757575;
  font-family: "Arimo", sans-serif;
  margin: 2% 7%;
}
.flaticon-chess-pawn::before {
  /*color: #212121;*/
  color: #607D8B;
  font-size: 75%;
}

section {background: #EDEDED;}

.row {text-align: center;}

.match {
  text-align: left;
  font-family: "Arimo", sans-serif;
  padding: 25px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(../assets/bobby7.jpg);
  background-position: top;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
