body {
  color: #525453;
  background: #FFF;
  font-family: 'Droid Sans', sans-serif;
}

.container {
  text-align: center;
  margin: 3% auto;
}

input {
  background: #F7F7F7;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: .4%;
}

input:focus {
  outline: none;
}

i {
  cursor: pointer;
  color: #7CCBF2;
  margin-left: 1%;
}

.wikiResults {
  text-align: left;
}

.well {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  max-width: 720px;
  margin: 2.5% auto;
}

a {
  color: #7CCBF2;
}
